<div class="side">
    <button type="button" class="btn btn-danger btn-block" (click)="logOut()">Log Out</button>
    <div class="dropdown-divider"></div>
    <ul>
        <li routerLinkActive="active">
            <a routerLink='Add-New-Product'>Add New Product</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink='List-All-Products'>List All Products</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink='List-All-Orders'>List All Orders</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink='Add-New-Category'>Add New Category</a>
        </li>
    </ul>
</div>
